<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, class: 'form-control'  %>
  </div>

<br />
<div class="field">
<%= form.label :Store_Admin %>
<%= form.collection_select :seller_id, Seller.where(store_id: nil), :id, :email, include_blank: true, class: 'form-select'  %>
</div>
  <div class="actions">
    <%= form.submit :button_to , value: 'New', class: 'btn btn-outline-primary float-end'%>
  </div>
<% end %>
