<% @myOrders.each do |item| %>

    <tr>
      <td><%= item.id%></td>
  
      <td><%= item.state%></td>
   
      <td><%= item.updated_at.strftime("%FT%T") %></td>
    
      <td><%= item.created_at.strftime("%FT%T") %></td>
      <td><%= link_to 'Show', item %></td>

      <td><%= link_to 'Accept' ,sallerAccept_path(:id => item) ,method: :post%> </td>
      <td><%= link_to 'Reject' ,sallerReject_path(:id => item) ,method: :post%> </td>

   
      </tr>
<br>

  <% end %>
 
  <br/>