<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @order.buyer_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order), class: 'btn btn-outline-primary' %> |
<%= link_to 'Back', orders_path , class: 'btn btn-outline-primary' %>
