<h1>ADD TO CART</h1>


<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>



<p>
  <strong>Name:</strong>
  <%= @p.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @p.quantity %>
</p>

<p>
  <strong>Currentprice:</strong>
  <%= @p.currentPrice %>
</p>

<%= render 'form', cart: @cart %>

<%= link_to 'Back', carts_path , class: 'btn btn-outline-primary'%>
