<p id="notice"><%= notice %></p>



   <% @entries.each do |item|%>
  <div>
      <%= Product.find_by(id:item.product_id).name %>    
      <%= item.quantity %>
      <%= link_to 'Edit', new_cart_path(:product => item.product_id, :quantity=>item.quantity) %> 
 </div>
   <% end %>


|
<%= link_to 'Checkout', products_path %>
<%= link_to 'Back', carts_path %>
