<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_attachment.product_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @product_attachment.photo %>
</p>

<%= link_to 'Edit', edit_product_attachment_path(@product_attachment) ,class: 'btn btn-outline-primary float-end m-1' %> 
<%= link_to 'Back', product_attachments_path ,class: 'btn btn-outline-primary float-end m-1'%>
