<p id="notice"><%= notice %></p>

<%= link_to 'New Category', new_category_path, class: 'btn btn-outline-success float-end m-1' %>
<h1>Categories</h1>


<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category ,class: 'btn btn-outline-info'%>
        <%= link_to 'Edit', edit_category_path(category) ,class: 'btn btn-outline-warning'%>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-outline-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

