<%= form_with(model: product, local: true) do |form| %>
  

  <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :currentPrice %>
    <%= form.number_field :currentPrice, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
<br />
<div class="field">
<%= form.label :Brand %>
  <%= form.collection_select :brand_id, Brand.all, :id, :name, include_blank: true, class: 'form-select' %>
  </div>
<br />
  <div class="field">
  <%= form.label :Category %>
  <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: true, class: 'form-select'  %>
  </div>


    <%= form.fields_for :product_attachments do |p| %>
         <div class="field">
           <%= p.label :photos %><br>
           <%= p.file_field :photos, :multiple => true, name:     "product_attachments[photos][]" %>
         </div>
       <% end %>
<br />
  <div class="actions">
    <%= form.submit :button_to , value: 'New', class: 'btn btn-outline-primary float-end' %>
  </div>
<% end %>
