<p id="notice"><%= notice %></p>
<div class="card mb-5 bg-dark" style="max-width: 100%">
  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <% @product.ProductAttachment.drop(1).each_with_index do |item, index| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=  index+1  %>" aria-label="Slide 2"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("#{@product.ProductAttachment.first.photo}", width: '100%', height:'500',class:"rounded d-block w-100")%>
        </div>
        <% @product.ProductAttachment.drop(1).each do |image| %>
          <div class="carousel-item">
            <%= image_tag("#{image.photo}", width: '100%', height:'500',class:"rounded d-block w-100")%>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <div class="col-sm-7">
      <div class="card-body">
        <h1 class="card-title" style="font-family: 'serif'"><%= @product.name %></h1>
        <hr>
        <p class="card-text">
          <p>
            <strong>Quantity :</strong>
            <%= @product.quantity %>
          </p>
          <p>
            <strong>Currentprice :</strong>
            <%= @product.currentPrice %>
          </p>
          <p>
            <strong>Description :</strong>
            <%= @product.description %>
          </p>
          <p>
            <strong>Brand :</strong>
            <%= Brand.find_by(id:@product.brand_id ).name%>
          </p>
          <p>
            <strong>Category :</strong>
            <%= Category.find_by(id:@product.category_id).name %>
          </p>
          <%= link_to 'Add To Cart', new_cart_path(:product => @product.id), class: 'btn btn-success' %>
          <%= link_to 'Back', products_path, class: 'btn btn-light' %>
        </p>
      </div>
    </div>
  </div>
</div>



