<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Currentprice:</strong>
  <%= @product.currentPrice %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= Brand.find_by(id:@product.brand_id ).name%>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find_by(id:@product.category_id).name %>
</p>



<% @product.ProductAttachment.each do |image| %>
   <%= image_tag "#{image.photo}" %>
 <% end %>


<%= link_to 'Add To Cart', new_cart_path(:product => @product.id) %> |

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
