<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', products_path, class: "nav-link" %>
        </li>
        <% if seller_signed_in? %>
          <li><%= link_to "Log out", destroy_seller_session_path, class: "nav-link", method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "Add Brand", new_brand_path, class: "nav-link" %></li>
          <li><%= link_to "Add Category", new_category_path, class: "nav-link" %></li>
          <li><%= link_to "Add Store", new_store_path, class: "nav-link" %></li>
          <li><%= link_to "Log out", destroy_admin_session_path, class: "nav-link", method: :delete %></li>
        <% elsif buyer_signed_in? %>
          <li><%= link_to "My Cart", carts_path, class: "nav-link" %></li>
          <li><%= link_to "Log out", destroy_buyer_session_path, class: "nav-link", method: :delete %></li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'As Buyer', new_buyer_session_path, class: "dropdown-item" %></li>
              <li><%= link_to 'As Merchant', new_seller_session_path, class: "dropdown-item" %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><%= link_to 'As Admin', new_admin_session_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'As Buyer', new_buyer_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to 'As Merchant', new_seller_registration_path, class: "dropdown-item" %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><%= link_to 'As Admin', new_admin_registration_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>